<header class="header">
  <div class="logo">
    <img src="/images/logo1 (3).png" alt="Techechos Logo" />

    <a href="index.html">
      <div class="logo-text">
        <h1>
          <span class="brand">Techechos</span>
          <span class="company">Innovation</span>
        </h1>
        <span class="content"> Private Limited</span>
      </div>
    </a>
  </div>

  <ul class="navbar">
    <li><a href="index.html">Home</a></li>
    <li><a href="about.html">About</a></li>
    <li class="dropdown">
      <a href="service.html" class="drop-link">
        Services <i class="fa-solid fa-chevron-down"></i>
      </a>

      <ul class="dropdown-menu">
        <li><a href="web.html">WEBSITE DEVELOPMENT </a></li>
        <li><a href="app.html">APPLICATION DEVELOPMENT</a></li>
        <li><a href="testing.html">TESTING SERVICES</a></li>
        <li><a href="technical.html">TECHNICAL SUPPORT</a></li>
        <li><a href="medical.html">MEDICAL CODING</a></li>
        <li><a href="epub.html">EPUB CONVERSIONS </a></li>
      </ul>
    </li>
    <li><a href="Careers.html">Careers</a></li>
    <li><a href="contact.html">Contact</a></li>
  </ul>

  <div class="header-actions">
    <button class="dark-mode-btn">
      <i class="fa-solid fa-moon"></i>
      <i class="fa-solid fa-sun"></i>
    </button>
    <button class="menu-toggle">
      <i class="fa-solid fa-bars"></i>
    </button>
  </div>
</header>
